<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Navbar</title>
<link rel="stylesheet" href="../static/css/styles.css">

<link rel="stylesheet" href="style2.css">

<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">



</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#" class="menu-item">UnicomTic</a>
        </div>
        <div class="navbar-right">
            <a href="../employees/index.html" class="menu-item">Employee</a>
            <div class="dropdown">
                <button class="dropbtn">Leave Management</button>
                <div class="dropdown-content">
                    <a href="../leaves/leaveRequest.html">Apply Leave</a>
                    <a href="../leaves/managerLeaveManagement.html">Manage Leave</a>
                   
                  </div>
            </div>
        </div>
    </nav>
    
    <main>

   
    </main>
 
    <img src="lay.jpg" alt="">
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>